<nav class="navbar bg-primary w-100 p-4">
  <%= link_to groups_path, :class => 'back__icon' do %>
    <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
  <% end %>
  <h5 class="text-center">New Category</h5>
  <%= button_to "Log out", destroy_user_session_path, :class => 'btn', :method => :delete, data: {turbo: false}%>
</nav>

<%= render "form", group: @group %>

